
<!-- List.html -->
<style type="text/css">
    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            ctms_hr_company
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-1 control-label">查询条件</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" ng-model="Keyword" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-info btn-block" ng-click="Search()">查询</button>
                            </div>                          
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <button type="button" class="btn btn-info btn-block" ng-click="Add()">新建</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="overflow-x:scroll;width:100%;">
                    <table class="table table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                                        	                      		                            	                                <th style="min-width:100px;"> 企业类型:1地产企业,2物流企业,3生产企业,4软件企业,零售企业</th>
                      		                      		                            	                                <th style="min-width:100px;"> 公司编号</th>
                      		                      		                            	                                <th style="min-width:100px;"> 公司英文名称</th>
                      		                      		                            	                                <th style="min-width:100px;"> 公司中文名称</th>
                      		                      		                            	                                <th style="min-width:100px;"> 公司类型</th>
                      		                      		                            	                                <th style="min-width:100px;"> 所在地城市，系统字典中定义</th>
                      		                      		                            	                                <th style="min-width:100px;"> 0 中国大陆
            1 中国香港
            系统字典中定义</th>
                      		                      		                            	                                <th style="min-width:100px;"> 公司级别</th>
                      		                      		                            	                                <th style="min-width:100px;"> 父公司ID</th>
                      		                      		                            	                                <th style="min-width:100px;"> 上级机构类型</th>
                      		                      		                            	                                <th style="min-width:100px;"> 公司地址</th>
                      		                      		                            	                                <th style="min-width:100px;"> 法人代表</th>
                      		                      		                            	                                <th style="min-width:100px;"> 联系人姓名</th>
                      		                      		                            	                                <th style="min-width:100px;"> 联系电话</th>
                      		                      		                            	                                <th style="min-width:100px;"> 法人身份证号</th>
                      		                      		                            	                                <th style="min-width:100px;"> 营业执照号</th>
                      		                      		                            	                                <th style="min-width:100px;"> 经营范围</th>
                      		                      		                            	                                <th style="min-width:100px;"> 银行账号</th>
                      		                      		                            	                                <th style="min-width:100px;"> 开户银行代码</th>
                      		                      		                            	                                <th style="min-width:100px;"> 电子邮件</th>
                      		                      		                            	                                <th style="min-width:100px;"> 邮政编码</th>
                      		                      		                            	                                <th style="min-width:100px;"> 传真</th>
                      		                      		                            	                                <th style="min-width:100px;"> 审核状态</th>
                      		                      		                            	                      		                            	                      		                            	                      		                            	                      		                            	                      		                            	                      		                            	                      		                            	                      		                            	                      		                      			<th style="min-width: 120px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in List">
                                                                  	                                                                 	                                                                    		<td>{{x.COMPANYTYPE}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.COMPANRYCODE}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.ENAME}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.CNAME}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.COMPANYCATEGORY}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.CITY}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.COUNTYTYPE}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.COMPANYLEVEL}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.FATHERCOMPANYID}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.FATHERTYPE}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.ADDRESS}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.LEGALPERSON}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.LINKMAN}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.TELNUMBER}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.LEGALPERSONID}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.BUSSINESSLICENCENO}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.BUSSINESSAREA}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.ACCOUNTCODE}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.BANKID}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.EMAIL}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.ZIPCODE}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.FAXNUMBER}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.CHECKSTATE}}</td>
                                	                                	                                                                 	                                                                 	                                                                 	                                                                 	                                                                 	                                                                 	                                                                 	                                                                 	                                                                 	                                                                <td><a href="javascript:void(0);" ng-click="Edit(x)">编辑</a> <a href="javascript:void(0);" ng-click="Remove(x)">删除</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pager" class="pull-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--遮罩层-->
<div class="loading-modal" ng-show="loading">
    <div class="loading">
        <img src="/Content/images/loading.gif" alt="" /><span>处理中，请稍候...</span>
    </div>
</div>