
<!DOCTYPE html>
<html ng-app="userApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>@*@ViewBag.Title*@</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/Script/bootstrap")
</head>
<body ng-controller="MyController">
    <div id="wrapper">

        <!-- 导航 -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/"><strong>康美健康云肿瘤全程管理平台</strong></a>
            </div>

            <!-- 右侧用户信息菜单 -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @ViewBag.LoginName <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/#/UserInfo"><i class="fa fa-fw fa-user"></i>我的信息</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/#/"><i class="fa fa-fw fa-home"></i>首页</a></li>
                <li><a href="javascript:void(0);" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i>注销</a></li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="#/ctms_hr_company"><i class="icon-list"></i> ctms_hr_company</a></li>
                    <li><a href="#/ctms_hr_department"><i class="icon-list"></i> ctms_hr_department</a></li>
                    <li><a href="#/ctms_hr_post"><i class="icon-list"></i> ctms_hr_post</a></li>
                    <li><a href="#/ctms_hr_userpost"><i class="icon-list"></i> ctms_hr_userpost</a></li>
                    <li><a href="#/ctms_pm_dotask"><i class="icon-list"></i> ctms_pm_dotask</a></li>
                    <li><a href="#/ctms_pm_itemconfirm"><i class="icon-list"></i> ctms_pm_itemconfirm</a></li>
                    <li><a href="#/ctms_pm_itemreport"><i class="icon-list"></i> ctms_pm_itemreport</a></li>
                    <li><a href="#/ctms_pm_project"><i class="icon-list"></i> ctms_pm_project</a></li>
                    <li><a href="#/ctms_pm_task"><i class="icon-list"></i> ctms_pm_task</a></li>
                    <li><a href="#/ctms_sys_sysmonitor"><i class="icon-list"></i> ctms_sys_sysmonitor</a></li>
                    <li><a href="#/ctms_sys_userinfo"><i class="icon-list"></i> ctms_sys_userinfo</a></li>

                </ul>
            </div>
        </nav>

        <!-- 内容框架 -->
        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- 左边菜单导航 -->
                <div id="viewContainer" ng-view on-finish-view-render></div>
            </div>
            <!-- /.container-fluid -->

        </div>

    </div>
    <!-- /#wrapper -->
    @System.Web.Optimization.Scripts.Render("~/Script/angular")
</body>
</html>