
<!--详情页-->
<div class="container-fluid">
	<div class="panel panel-info">
	    <div class="panel-heading">
	        <strong><i class="fa fa-fw fa-medkit fa-lg"></i>ctms_pm_itemreport</strong>
	    </div>
	    <div class="panel-body">
	        <form class="form-horizontal" name="InfoForm">
	        		        		           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtPRETASK">  任务ID</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtPRETASK" ng-model="Info.PRETASK"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtSUBMITDATE">  提交时间</label>                
		                			   					<div class="col-md-5">
		   						 <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-date-orientation="bottom" datepicker>
		                            <input id="txt_SUBMITDATE" class="form-control" size="10" type="text" value="" required ng-model="Info.SUBMITDATE" />
		                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                        </div>
		   					</div>                     
		   							            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtSUBMITPROGRESS">  提交的进度</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtSUBMITPROGRESS" ng-model="Info.SUBMITPROGRESS"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtSUBMITREMARK">  提交的说明</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtSUBMITREMARK" ng-model="Info.SUBMITREMARK"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtPMANAGER">  项目经理</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtPMANAGER" ng-model="Info.PMANAGER"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtISCOMFIRM">  是否已确认</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtISCOMFIRM" ng-model="Info.ISCOMFIRM"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtCOMFIRMRMARK">  确认说明</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtCOMFIRMRMARK" ng-model="Info.COMFIRMRMARK"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtCOMFIRMDATE">  确认时间</label>                
		                			   					<div class="col-md-5">
		   						 <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-date-orientation="bottom" datepicker>
		                            <input id="txt_COMFIRMDATE" class="form-control" size="10" type="text" value="" required ng-model="Info.COMFIRMDATE" />
		                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                        </div>
		   					</div>                     
		   							            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtOWENRID">  所属人ID</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtOWENRID" ng-model="Info.OWENRID"  />
		                    </div>
		                    		            </div>
		            	           		        		           		        		           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtCREATETIME">  创建时间</label>                
		                			   					<div class="col-md-5">
		   						 <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-date-orientation="bottom" datepicker>
		                            <input id="txt_CREATETIME" class="form-control" size="10" type="text" value="" required ng-model="Info.CREATETIME" />
		                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                        </div>
		   					</div>                     
		   							            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtCREATEUSER">  创建人</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtCREATEUSER" ng-model="Info.CREATEUSER"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtEDITTIME">  修改时间</label>                
		                			   					<div class="col-md-5">
		   						 <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-date-orientation="bottom" datepicker>
		                            <input id="txt_EDITTIME" class="form-control" size="10" type="text" value="" required ng-model="Info.EDITTIME" />
		                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                        </div>
		   					</div>                     
		   							            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtEDITUSER">  修改人</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtEDITUSER" ng-model="Info.EDITUSER"  />
		                    </div>
		                    		            </div>
		            	           		            <div class="form-group">
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="btn btn-info btn-block" ng-click="GoBack()"><i class="fa fa-fw fa-reply-all"></i>返回</button>
	                </div>
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="col-md-2 btn btn-info btn-block" ng-disabled="InfoForm.$invalid" ng-click="Save()"><i class="fa fa-fw fa-save"></i>确定</button>
	                </div>
	            </div>
	        </form>
	    </div>
    </div>
</div>